body{
    margin:0;
    padding-top:800px;
    text-align:center;
}
#welcome{
    position: absolute;
    bottom:0;
    background: linear-gradient(  Black 20%,red 67%, White 46%);
    display:table;
    width:100%;
    height:100%;
}
.paralaxx-inner{
    display:table-cell;
    vertical-align:middle;
}
.profile{
    width:300px;
    border-radius:50%;
}
.menu{
   list-style:none; 
   position:absolute;
   top: 15px;
   right:30px;
   z-index:999;
   cursor:pointer; 
}
.links{
    float:left;
    padding-top:5px;
    padding-left:9px;
    padding-right:9px;
    padding-bottom:5px;
    font-family:'Times New Roman', Times, serif;
    color: white;
}
    .line{
        background-color: blue;
        width: width;
        height: 6px;
        margin-bottom: 15px;
    }
